
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* css */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav.css";
@import "components/screenheader.css";
@import "components/user-component.css";
@import "components/notice.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: 'Poppins', sans-serif;
  color: #514fca;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
