#chatting-screen {
  background-color: #abc1d1;
  height: 100vh;
}

#chatting-screen .status-bar,
#chatting-screen .alt-header {
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chatting-screen .status-bar {
  z-index: 2;
}

#chatting-screen .alt-header {
  top: 27px;
  z-index: 1;
}

.chatting-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chatting__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 30px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__author {
  display: block;
  margin-bottom: 7px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 7px 10px;
  border-radius: 10px;
  margin-right: 4px;
  border-top-left-radius: 0px;
  font-size: 17px;
}

.message__author,
.message__time  {
  opacity: 0.6;
  font-size: 14px;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: powderblue;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-left: 4px;
  margin-right: 0px;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child { 
  width: 90%;
  position: relative;
  right: 18px;
}


.reply input {
  padding: 13px;
  width: 100%;
  border: var(--border-main);
  border-radius: 20px;
}

.reply i {
  opacity: 0.7;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -20px;
  top: 6px;
}

.reply__column:last-child > i {
  right: 20px;
  top: 13px;
}

.reply__column button {
  background-color: #514fca;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}