
body {
  font-family: 'Poppins', sans-serif;
}

.welcome-header {
  margin: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.welcome-header__text {
  width: 50%;
  opacity: 0.6;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none;
}

#login-form input:not([type="submit"]) {   /*  input의 type이 "submit"이 아니면~ */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-out;
  margin-bottom: 10px;
}


#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 16px;
}

#login-form input:focus {
  border-color: #514fca;
}

#login-form input[type="submit"] {
  background: #514fca;
  cursor: pointer;
  font-size: 18px;
  margin: 30px;
  border-radius: 50px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}